<% if champion == "empty" %>
  <div class="hexagon bg-gray-300">
    <div class="hexTop"></div>
    <div class="hexBottom"></div>
  </div>
<% else %>
  <div class="hexagon" style="background-image: url(<%= champion_image_path(champion: champion) %>)">
    <div class="hexTop"></div>
    <div class="hexBottom"></div>
  </div>
<% end %>
