<% if champion == "empty" %>
  <div class="hexagon bg-gray-300">
    <div class="hexTop"></div>
    <div class="hexBottom"></div>
  </div>
<% else %>
  <div class="hexagon" style="background-image: url(<%= image_path("set5/champions/TFT5_#{format_name(champion: champion)}") %>)">
    <div class="hexTop"></div>
    <div class="hexBottom"></div>
  </div>
<% end %>
